---
Checks: >
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  clang-analyzer-*,
  clang-diagnostic-*,
  concurrency-*,
  cppcoreguidelines*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-init-variables,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  google-*,
  llvm-include-order,
  misc-*,
  -misc-non-private-member-variables-in-classes,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,
  openmp-*,
  performance-*,
  portability-*,

WarningsAsErrors: ""
HeaderFilterRegex: ".*"
FormatStyle: "file"